<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
    <ActionItem text="left item" ios.position="left"></ActionItem>
</ActionBar>

<TabView androidSelectedTabHighlightColor="white" selectedTabTextColor= "#ffffff"
         (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <StackLayout *tabItem="{title:'&#xe800;'}">
        <Home></Home>
    </StackLayout>
    <StackLayout *tabItem="{title:'&#xe842;'}">
        <Browse></Browse>
    </StackLayout>
    <StackLayout *tabItem="{title:'&#xe82a;'}">
        <Search></Search>
    </StackLayout>
    <StackLayout *tabItem="{title:'&#xe810;'}">
        <Search></Search>
    </StackLayout>
</TabView>