<ScrollView class="thePage">
    <StackLayout class="page thePage p-t-15">
        <image class="fp-logo" src="~/imgs/white.png"></image>
        <grid-layout columns="50,*,30" rows="auto,auto">
            <Label col="0" row="0" class="lnr fp-fields-icons" text="&#xe82a;"></Label>
            <TextField col="1" row="0" class="username m-t-10 m-b-10 m-l-15 m-r-15" hint="Your email assigned to Liers account"
                       [(ngModel)]="email"></TextField>
        </grid-layout>


        <Button class="btn btn-primary fp-button" text="Reset Password" (tap)="onSigninButtonTap()"></Button>
        <Label class="m-t-10 m-b-10 m-l-15 m-r-15 sign-up" text="LogIn?"[nsRouterLink]="['/login']" pageTransition="slideLeft"></Label>
    </StackLayout>
</ScrollView>
