.thePage {
  background-image: url("~/imgs/blog_friends.png");
  background-size: cover;
  background-position: center;
}

.login-logo {
  width: 130;
  margin-top: 130;
  margin-bottom: 70;
}

.login-fields-icons {
  margin-top: 10;
  padding-top: 10;
  text-align: right;
  color: #fff;
  opacity: .4;
  font-size: 25;
  width: 50;
  height: 50;
}

.username, .password {
  border-width: 0 0 1 0;
  border-color: rgba(255,255,255,0.2);
  placeholder-color: rgba(255,255,255,0.4);
}

.login-button{
  margin-top: 40;
  background-color: #F51700;
  border-radius: 30;
  padding: 10;
  fontsiz: 20;
}
.forgot-pass, .sign-up{
  text-align: center;
  color: rgba(255,255,255,0.8);
}