<ScrollView class="thePage">
    <StackLayout class="page thePage p-t-15">
        <image class="login-logo" src="~/imgs/white.png"></image>
        <grid-layout columns="50,*,30" rows="auto,auto">
            <Label col="0" row="0" class="lnr login-fields-icons" text="&#xe82a;"></Label>
            <TextField col="1" row="0" class="username m-t-10 m-b-10 m-l-15 m-r-15" hint="Username" autocorrect="false"
                       autocapitalization="none"
                       [(ngModel)]="email"></TextField>
            <Label col="0" row="1" class="lnr login-fields-icons" text="&#xe80f;"></Label>
            <TextField col="1" row="1" class="password m-t-10 m-b-10 m-l-15 m-r-15" hint="Password" secure="true"
                       autocorrect="false"
                       autocapitalization="none"
                       [(ngModel)]="password"></TextField>
        </grid-layout>


        <Button class="btn btn-primary login-button" text="Sign in" (tap)="onSigninButtonTap()"></Button>
        <Label class="m-t-10 m-b-10 m-l-15 m-r-15 forgot-pass" text="Forgot password?" [nsRouterLink]="['/forgotpassword']" ></Label>
            <Label class="m-t-10 m-b-10 m-l-15 m-r-15 sign-up" text="Sign Up" [nsRouterLink]="['/tabs']" pageTransition="slideLeft"></Label>
    </StackLayout>
</ScrollView>
